.navbar {
    background-color: #550526e1;
    font-family: 'Red Rose', cursive;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #E0E0E0 !important;
    min-width: 200px !important;
}

body{
    background-color: #a107027a;
    /* background-color: #ffffff; */
}

.table{
  background-color: #550526;
  width: 100%;
  border: 15px;
  padding: 20px;
  margin: 20px;
}

.inside_table{
    background-color: lightgrey;
  width: 100%;
  padding: 50px;
}

.caret-off::before {
    display: none !important;
}

.caret-off::after {
    display: none !important;
}

form label {
    font-weight: bold;
}


.form-upload {
    display: flex;
}

@media only screen and (max-width: 726px) {
    .shrink {
        font-size: 50px !important;
    }
    .card {
        width: 80% !important;
        margin: 0 auto;
    }
}

.btn{
    background-color: #F2C14E !important;
    border-color: #bd9333 !important;
}

.btn-reset {
    background-color: #368F8B !important;
    border-color:#207a76   !important;
}


