.navbar {
    background-color: #550526e1;
    font-family: 'Piazolla';
    color: #ffffff;
}

.dropdown-menu {
    background-color: #E0E0E0 !important;
    min-width: 200px !important;
}

body{
    background-color: #a107027a;
}

.table{
  background-color: #550526;
  width: 100%;
  border: 15px;
  padding: 20px;
  margin: 20px;
}

.caret-off::before {
    display: none !important;
}

.caret-off::after {
    display: none !important;
}

form label {
    font-weight: bold;
}

input[type="radio"]+label + .showother {
    display: none;
}

input[type="radio"]:checked+label+.showother {
    display: block;
}

input[type="checkbox"]+label+.showother {
    display: none;
}

input[type="checkbox"]:checked+label+.showother {
    display: block;
}

.form-upload {
    display: flex;
}

.card {
    margin-left: 30px;
    margin-right: 30px;
    border: none;
}

@media only screen and (max-width: 726px) {
    .shrink {
        font-size: 50px !important;
    }
    .card {
        width: 80% !important;
        margin: 0 auto;
    }
}

.h1 {
    font-weight: 600;
}

.gradient-text {
    /*background: -webkit-linear-gradient(18deg, rgba(110,231,128,1) 0%, rgba(0,212,255,1) 100%);*/
    color: #35724e ;
}
.btn-primary {
    background-color: rgb(38, 97, 52) !important;
    border-color: rgb(47, 121, 64)  !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(25, 61, 33) !important;
    border-color: rgb(38, 97, 52) ; 
}